{% extends 'base.html' %}
{% block title %}Welcome zu Arbeit Web{% endblock %}
{% block bodyname %}
<h4 style="text-align: center;">Please create new entry: fill fields - company name and address etc.</h4>


<!-- Display Flash Messages (Success/Error) -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div style="text-align: center;">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" style="width: 80%; max-width: 600px; margin: 0 auto;">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}


<form action="/add-company" method="post" style="width: 80%; max-width: 600px; margin: 0 auto;">
    <div style="margin-bottom: 5px;">
        <label for="companyname" style="display: block; margin-bottom: 2px;">Company Name:</label>
        <input type="text" name="companyname" id="companyname" class="form-control" style="width: 100%; padding: 10px;">
    </div>
    
    <div style="margin-bottom: 5px;">
        <label for="stadt" style="display: block; margin-bottom: 2px;">Stadt:</label>
        <input type="text" name="stadt" id="stadt" class="form-control" style="width: 100%; padding: 10px;">
    </div>
    
    <div style="margin-bottom: 5px;">
        <label for="index_stadt" style="display: block; margin-bottom: 2px;">Index Stadt:</label>
        <input type="text" name="index_stadt" id="index_stadt" class="form-control" style="width: 100%; padding: 10px;">
    </div>
    
    <div style="margin-bottom: 5px;">
        <label for="strasse" style="display: block; margin-bottom: 2px;">Strasse:</label>
        <input type="text" name="strasse" id="strasse" class="form-control" style="width: 100%; padding: 10px;">
    </div>
    
    <div style="margin-bottom: 5px;">
        <label for="ort" style="display: block; margin-bottom: 2px;">Ort:</label>
        <input type="text" name="ort" id="ort" class="form-control" style="width: 100%; padding: 10px;">
    </div>
    
    <div style="margin-bottom: 5px;">
        <label for="date_gekommen" style="display: block; margin-bottom: 2px;">Datum Gekommen:</label>
        <input type="date" name="date_gekommen" id="date_gekommen" class="form-control" style="width: 100%; padding: 10px;">
    </div>
    
    <div style="margin-bottom: 5px;">
        <label for="date_email" style="display: block; margin-bottom: 2px;">Datum Email:</label>
        <input type="date" name="date_email" id="date_email" class="form-control" style="width: 100%; padding: 10px;">
    </div>
    
    <div style="margin-bottom: 5px;">
        <label for="detail" style="display: block; margin-bottom: 2px;">Detail:</label>
        <input type="text" name="detail" id="detail" class="form-control" style="width: 100%; padding: 10px;">
    </div>
    
    <div style="margin-bottom: 5px;">
        <label for="status" style="display: block; margin-bottom: 2px;">Status:</label>
        <input type="text" name="status" id="status" class="form-control" style="width: 100%; padding: 10px;">
    </div>
    
    <div style="margin-bottom: 5px;">
        <label for="transport" style="display: block; margin-bottom: 2px;">Transport:</label>
        <textarea name="transport" id="transport" class="form-control" style="width: 100%; padding: 10px;"></textarea>
    </div>
    
     <div style="margin-bottom: 5px;">
        <label for="all_events" style="display: block; margin-bottom: 2px;">Current update about anything:</label>
        <textarea name="all_events" id="all_events" class="form-control" style="width: 100%; padding: 10px;"></textarea>
    </div>
    
    <div style="margin-top: 8px; text-align: center;">
        <input type="submit" class="btn btn-success" value="Ok. Send on server.">
    </div>
</form>
{% endblock %}
{% block bodytext %}<h2></h2>{% endblock %}
